*{
    margin: 0;
    padding: 0;
}



.container{
    width: 80vw;
    margin: auto;
}

.container h2{
    margin: 1em;
}

#search-input{
    margin-left: 3em;
}

.results{
    display: flex;
    flex-wrap:  wrap;
}

.pokemonSearchItem{
    padding: 1em;
    margin: 0.5em;
    background: #eee;
    flex-basis: 10em;
    transition-duration: 0.5s;
}

.pokemonSearchItem:hover{
    margin: 0.5em;
    background: rgb(61, 61, 61);
    flex-basis: 10em;
}